body {
	background-image: url('http://cofelab.ru/wp-content/uploads/2018/05/3c8ba724450a8ab6374e8c95b7f0841b.jpg');
}
h1 {
	margin: 0 auto; width:200px;
	background-color: rgb(0,0,100);
	width: 190px;
	border-radius: 80px;
	padding: 5px;
}
#im {
	margin: 0 auto;
	width: 40px;
	background-color: rgb(0,0,100);
	border-radius: 80px;
}
.cht {
	background-color: blue;
}
nav {
	margin: 0 auto;
	width:170px;
	background-color: rgb(100,100,100);
	padding: 10px;
}
div {
	margin: 0 auto; 
	background-color: rgb(100,100,150);
	width: 600px;
	padding: 5px;
	border-radius: 10px;
}
table {
	margin: 0 auto; 
	background-color: rgb(50,50,50);

}
form{
	margin: 0 auto;
	width:400px;
	background-color: rgb(150,150,150);
}
select{
	margin: 0 auto;
	background-color: rgb(150,150,150);
}
input{
	margin: 0 auto;
	background-color: rgb(150,150,150);
}


textarea {
	margin: 0 auto;
	background-color: rgb(150,150,150);
}

footer {
	width:300px;
	margin: 0 auto;
	background-color: rgb(150,150,150);
}